[Unit]
Description=PiMiner
After=network.target miner.service

[Service]
Type=simple
ExecStart=/usr/bin/python2.7 /opt/minepeon/addons/PiMiner/PiMiner.py 

[Install]
WantedBy=multi-user.target

